nav{
    height: 100%;
}
.side-nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.side-nav-button:hover{
    background-color: rgb(221, 218, 216);
    border-radius: 40%;
}
.navcolor{
background-color: rgb(5, 247, 175);
}