<div class="row">
    <div class="col-md-12">
        <table   class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>sr</th>
                   <th *ngFor="let head of HeadArray">{{head.Head}}</th>
                   
                </tr>
            </thead>
            <tbody>
                
               <tr *ngFor="let item of tblData ;let i=index ">
                <td>{{i+1}}</td>
                    <td *ngFor="let head of HeadArray">
                        <div *ngIf="head.FieldName !=''">
                            {{item[head.FieldName]}}
                        </div>
                        <div *ngIf="head.FieldName ==''">
                          
                             <button class="btn btn-outline btn-danger" (click)="delete(item)"><i class="fa-sharp fa-solid fa-trash"></i></button>
                             <button class="btn btn-outline m-2" (click)="view(item)" style="background-color: #122545;"><i class="fa-regular fa-eye text-light" ></i></button>
                             <button class="btn btn-outline "  (click)="edit(item)" style="background-color: #0d61f2;"><i class="fa-solid fa-pen-to-square text-light" ></i></button>
                        </div>
                    </td>
               </tr>
            </tbody>
          
        </table>
    </div>
</div>

