app-header{
    position: fixed;
    width: 100%;
    top: 0px;
    height: 5.5rem;
    z-index: 2;
}
main{
position: absolute;
width: 100%;
top: 5.5rem;
z-index: 1;
}

app-sidebar{
    position: absolute;
    left: 0rem;
    width: 70px;
    height: calc(100vh - 4rem);
    box-shadow:0px 0px 10px rgb(91, 96, 127);
    background-color:rgb(5, 247, 175);
    border-top: 2px solid rgb(12, 8, 0);
    overflow: hidden;
    white-space: nowrap;
    transition: width 250ms ease-in;
}
.display-area{
position: absolute;
left: 250px;
width: calc(100%-250px);
transition: width 250ms ease-in,width 250ms ease-in;
}
.app-sidebar-open{
    width:280px
}
.display-area-shrink{
  
    left: 250px;
    width: calc(100%-250px);
    }
