
<div class="container-fluid g-0">
  <app-header (sideNavToggled)="sideNavStatus=$event"></app-header>
  <main >
    <div class="row">
    <div class="col-md-3">
    <app-sidebar class="black-border" [sideNavStatus]="sideNavStatus"
    [ngClass]="{'app-sidebar-open':sideNavStatus}"></app-sidebar></div>
    <div class="col-md-8">
    <div class="display-area" [ngClass]="{'app-savbar-shrink':sideNavStatus}">
      
       
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
  </main>
  
  </div>